$width-site: 1140px;
$width-site-ad-tablet: 736px;
$width-site-ad-phone: 375px;
$background-header-possibilities: #222222;
$background-welcome-window: #F1E4E6;
$background-product: #F8F8F8;
$background-footer-input: #E1E1E1;
$background-welcome-window-registration:#F8F3F4;
$background-white:#FFFFFF;
$color-text-fashion: #F16D7F;
$color-text-white: #FFFFFF;
$color-text-product-paragraph-1: #9F9F9F;
$color-text-product-paragraph-2: #5D5D5D;
$color-text-possibilitie:#FBFBFB;
$color-text-input:#B1B1B1;


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


.conteiner, .content {
    margin: 0 auto;
    width: $width-site;
}

body {
    font-family: 'Lato', sans-serif;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 76px;
}

.header {
    background-color: $background-header-possibilities;
    .header__menu {
        position: absolute;
        display: none;
        background-color: $background-white;
        width: 232px;
        min-height: 764px;
        z-index: 1;
        top: 77px;
        right: 0;
    }

    .header__menu_show {
        display: block;
    }

    .header__menu-block:hover .header__menu{
        display: block;
    }
    
    .header__cap {
        display: flex;
    }

    .header__button {
        border: none;
        padding-top: 5px;
        background-color: transparent;
    }

    .header__button:active {
        background-color: rgba(158, 158, 158, 0.116);
    }

    .header {
        position: relative;
    }

    .header__menu{
        padding-left: 34px;
        padding-top: 37px;
    }
    .header__menu-heading {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .header__ico {
        margin: 0 0 0 33px;
    }

    .header__icon-magazine {
        margin-right: 41px;
    }

    .menu-sub-item__heading {
        color: $color-text-fashion;
        padding-left: 33px;
        padding-top: 24px;
        text-transform: uppercase;
    }

    .menu-sub-item__item {
        padding-left: 55px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .menu-sub-item__item,
    .menu-sub-item__heading {
        font-size: 14px;
        font-weight: 400;
    }

    .menu-sub-item__item:hover{
        background-color: rgba(255, 0, 0, 0.1);
    }
    .menu-sub-item__item:not(:hover){
        transition: 0.5s;
    }
}

.welcome-window {
    margin-bottom: 64px;
    .welcome-window__adritrio {
    margin: 0 auto;
    background-color: $background-welcome-window;
    display: flex;
    text-transform: uppercase;
    }

    .welcome-window__heading {
        border-left: 12px solid $color-text-fashion;
        box-sizing: border-box;
        padding-left: 16px;
        align-self: center;
        margin-left: 76px;
        font-weight: 900;
        font-size: 48px;
    }

    .welcome-window__small-heading,
    .welcome-window__pink-heading {
        font-size: 32px;
        font-weight: 700;
    }

    .welcome-window__pink-heading {
        color:$color-text-fashion;
    }
}

.offers {
    margin-bottom: 97px;
    .offers__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .offers__list-item {
        position: relative;
    }

    .offers__item-show{
        display: none;
    }

    .offers__text {
        color: $color-text-white;
        font-weight: 400;
        font-size: 16px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
    }
    .offers__text-1 {
        top: 105px;
        left: 103px;
    }
    .offers__text-2 {
        top:105px;
        left: 125px;
    }
    .offers__text-3 {
        top: 105px;
        left: 123px;
    }
    .offers__text-4 {
        top: 95px;
        left: 490px;
    }
    .offers__pink-text {
        color: $color-text-fashion;
        font-weight: 700;
        font-size: 24px;
        margin-top: 10px;
        display: inline-block;
    }
    .offers__item-img-bottom {
        margin-top: 30px;
    }
}

.product {

    .product__heading {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 6px;
        text-align: center;
    }
    .product__paragraph {
        font-size: 14px;
        color:$color-text-product-paragraph-1;
        text-align: center;
    }
    .product__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;
    }
    .product__item {
        max-width: 360px;
        list-style-type: none;
        background-color: $background-product;
        margin-bottom: 30px;
    }

    .fashion-item {
        position: relative;
    }

    .fashion-item::before {
        content: '';
        background: rgba(58, 56, 56, 0.86);
        position: absolute;
        top: 0;
        min-height: 420px;
        width: 100%;
    }

    .product__button-item {
        position: absolute;
        background-color: transparent;
        color: $color-text-white;
        border: 1px solid $background-product;
        box-sizing: border-box;
        padding: 14px 16px 12px 13px;
        top: 30%;  
        left: 50%;
        transform: translate(-50%, -30%);
    }

    .product__basket-img{
        margin-right: 11px;    
    }

    .product__button-text{
        font-size: 14px;
        font-weight: 400;
    }

    .product__button-item,
    .fashion-item::before {
        display: none;
    }

    .product__item:hover .fashion-item,
    .product__item:hover .product__button-item,
    .product__item:hover .fashion-item::before {
        display: block;
    }

    .fashion-item__heading {
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
        box-sizing: border-box;
        padding-top: 25px;
        padding-left: 18px;
        padding-bottom: 12px;
    }
    .fashion-item__paragraph {
        font-size: 14px;
        font-weight: 300;
        display: inline-block;
        box-sizing: border-box;
        color: $color-text-product-paragraph-2;
        padding-left: 18px;
        padding-bottom: 18px;
    }
    .fashion__price-paragraph {
        display: inline-block;
        box-sizing: border-box;
        padding-left: 18px;
        padding-bottom: 20px;
        color: $color-text-fashion;
    }
    .product__button-adtritio{
        margin-top: 43px;
        margin-bottom: 95px;
    }
    .product__button {
        border: 1px solid $color-text-fashion;
        background-color: transparent;
        box-sizing: border-box;
    }
    .product__button-paragraph:hover {
        background-color: $color-text-fashion;
        color: $color-text-white;
        transition: 0.5s;
    }
    .product__button-paragraph:not(:hover) {
        transition: 0.5s;
    }

    .product__button-paragraph {
        color: $color-text-fashion;
        font-weight: 400;
        font-size: 16px;
        padding: 14px 39px;
        display: inline-block;
    }
    .product__button-adtritio {
        display: flex;
        justify-content: center;
    }
}

.possibilities {
    background-color: $background-header-possibilities;
    .possibilities__adritio {
        width: $width-site;
        margin: 0 auto;
    }  
    .possibilities__heading,
    .possibilities__adritio {
        color: $color-text-white;
        text-align: center;
    }
    .possibilities__adritio{
        padding-top: 103px;
        padding-bottom: 104px;
    }

    .possibilities__heading {
        margin-top: 28px;
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 400;
    }

    .possibilities__heading-center{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
        margin-top: 19px;
    }

    .possibilities__heading-right{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
        margin-top: 25px;
    }

    .possibilities__paragraph{
        font-size: 14px;
        font-weight: 300;
        color: $color-text-possibilitie;
    }
    .possibilities__list{
        display: flex;
        justify-content: space-between;
    }
    .possibilities__item{
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.footer {
    .footer__adtritio {
        background-image: url('../img/footer__background.png');
        min-height: 448px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 100%;
        display: flex;
        justify-content: space-around;
    }
    .footer__box-avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .footer__box-paragraph {
        display: inline-block;
        font-size: 20px;
        font-weight: 400;
        max-width: 360px;
        text-align: center;
        margin-bottom: 126px;
        margin-top: 30px;
    }
    .footer__span {
        font-style: italic;
    }
    .feedback__paragraph,
    .feedback__heading {
        text-transform: uppercase;
        text-align: center;
    }
    .feedback__heading {
        margin-top: 150px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
    }
    .feedback__paragraph {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 32px;
    }
    .feedback__email {
        box-sizing: border-box;
        padding-left: 22px;
        padding-top: 6px;
        padding-right: 64px;
        padding-bottom: 7px;
        border-radius: 20px 0 0 20px;
        border: none;
        height: 50px;
        background-color: $background-footer-input;
        min-width: 170px;
    
    }
    .feedback__email::placeholder {
        font-size: 14px;
        font-weight: 400;
    }
    .feedback__button {
        background-color: transparent;
        border: none;
        border-radius: 0 20px 20px 0;
        background-color: $color-text-fashion;
        height: 50px;
    }

    .feedback__button:active{
        opacity: 0.4;
    }

    .feedback__form{
        display: flex;
    }

    .feedback__button-text {
        font-size: 14px;
        font-weight: 400;
        padding: 9px 7px 4px 8px;
        box-sizing: border-box;
        height: 36px;
        color: $color-text-white;
    }

    .basement {
        display: flex;
        justify-content: space-between;
        background-color: $background-header-possibilities;
        padding: 30px 230px 30px 235px;
        .basement__icon-socnet-list {
            display: flex;
            justify-content: flex-end;
        }
        .basement__right-text {
            display: block;
            color: $color-text-white;
            margin-top: 10px;
        }
        .basement__icon-socnet-items {
            padding-left: 7px;}
    }
}

.welcome-window-registration {
    padding-top: 59px;
    padding-bottom: 60px;
    margin-bottom: 64px;
    background-color: $background-welcome-window-registration;
    .welcome-window-registration__adtritio {
        width: $width-site;
        margin: 0 auto;
    }
    .welcome-window-registration__heading {
        color: $color-text-fashion;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.registration-block {
    .registration-block__adtritio {
        width: $width-site;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .registration-block__button {
        margin-bottom: 96px;
    }

    .registration-block__heading,
    .registration-block__paragraph {
        margin-bottom: 22px;
    }

    .registration-block__outcome {
        max-width: 625px;
    }

    .registration-block__heading {
        text-transform: uppercase;
    }

    .registration-block__heading,
    .registration-block__paragraph-outcome,
    .registration-block__outcome-item {
        font-size: 24px;
        font-weight: 300;
    }

    .registration-block__outcome-item {
        margin-bottom: 16px;
    }

    .registration-block__paragraph-outcome {
        margin-bottom: 31px;
    }

    .registration-block__paragraph {
        font-size: 13px;
        font-weight: 300;
        color: $color-text-product-paragraph-1;
        width: 360px;
    }

    .registration-block__radio {
        font-size: 11px;
        font-weight: 300;
    }

    .registration-block__text::placeholder,
    .registration-block__name::placeholder,
    .registration-block__last-name::placeholder,
    .registration-block__email::placeholder,
    .registration-block__password::placeholder {
        font-size: 13px;
        font-weight: 300;
        color: $background-footer-input;
    }
    .registration-block__text,
    .registration-block__name,
    .registration-block__last-name,
    .registration-block__email,
    .registration-block__password {
        box-sizing: border-box;
        padding-left: 17px;
        padding-top: 13px;
        padding-bottom: 16px;
        width: 360px;
        margin-top: 15px;
    }

    .registration-block__text,
    .registration-block__name,
    .registration-block__email,
    .registration-block__password {
        margin-bottom: 20px;
    }

    .registration-block__sex-man,
    .registration-block__sex-girl {
        margin-bottom: 33px;
        margin-top: 31px;
    }
    .registration-block__outcome-list li{
        background-image: url(../img/registration-block__check-mark.png);
        background-size: 20px 16px;
        background-repeat: no-repeat;
        padding-left: 40px;
    }

    .registration-block__button {
        margin-top: 39px;
        color: $color-text-fashion;
        background-color: $color-text-white;
        box-sizing: border-box;
        padding: 16px 69px 17px 29px;
        border: 1px solid $color-text-fashion;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .registration-block__button:hover {
        color: $color-text-white;
        background-color: $color-text-fashion;
        transition: 0.5s;
    }
    .registration-block__button:not(:hover) {
        transition: 0.5s;
    }
    input:hover{
        background-color:$background-welcome-window-registration;
        transition: 0.5s;
    }
    input:not(:hover){
        transition: 0.5s;
    }
}

.welcome-window-cart{
    background-color: $background-welcome-window-registration;
    .welcome-window-cart__adtritio{
        padding-top: 59px;
        padding-bottom: 60px;
        text-transform: uppercase;
        color: $color-text-fashion;
    }
}

.main-block {
    margin-top: 96px;
    .cart-block__buy-product {
        display: flex;
    }

    .cart-block__adtritio {
        display: flex;
        justify-content: space-between;
    }

    .cart-block__item-product {
        min-height: 306px;
        min-width: 652px;
        margin-bottom: 40px;
        box-shadow: 25px 27px 21px 0px rgba(34, 60, 80, 0.2);
    }

    .cart-block__box {
        margin-left: 31px;
    }

    .cart-block__heading {
        margin-top: 22px;
        margin-bottom: 42px;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        width: 202px;
    }

    .cart-block__item-info {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 6px;
    }

    .price {
        border: 1px solid black;
        padding: 0 16px 0 16px;
        margin-left: 24px;
    }

    .item-color {
        color: $color-text-fashion;
    }

    .cart-block__button-function {
        background-color: transparent;
        padding: 16px 38px 15px 38px;
        text-transform: uppercase;
    }

    .cart-block__button-function:hover,
    .settlement-block__button:hover {
        background-color: rgba(119, 119, 119, 0.473);
        color: $color-text-white;
        transition: 0.5s;
    }

    .cart-block__button-function:not(:hover),
    .settlement-block__button:not(:hover) {
        transition: 0.5s;
    }

    .cart-block__button-box {
        display: flex;
        justify-content: space-between;
        margin-top: 72px;
        margin-bottom: 128px;
    }

    .settlement-block__heading {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .settlement-block__input {
        margin-bottom: 21px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        box-sizing: border-box;
        min-width: 359px;
    }

    .settlement-block__button {
        background-color: transparent;
        padding: 10px 14px 12px 15px;
        text-transform: uppercase;
        margin-bottom: 57px;
    }

    .settlement-block__button-transition {
        background-color: transparent;
        padding: 15px 43px 16px 41px;
        text-transform: uppercase;
        margin-top: 17px;
        border: none;
        background-color: $color-text-fashion;
        color: $background-white;
        width: 273px;
    }

    .block-transition {
        background-color: $background-welcome-window-registration;
        padding: 39px 42px 42px 42px;
        box-sizing: border-box;
    }

    .block-transition__content {
        display: flex;
        justify-content: flex-end;
        margin-top: 12px;
    }

    .block-transition__small-price-paragraph,
    .block-transition__final-price-heading {
        margin-left: 20px;
    }

    .block-transition__final-heading,
    .block-transition__final-price-heading {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
    }

    .block-transition__final-price-heading {
        color: $color-text-fashion;
        font-weight: 700;
    }

    .block-transition__small-price-paragraph,
    .block-transition__small-price-paragraph {
        font-size: 11px;
        font-weight: 400;
    }

    input:hover{
        background-color:$background-welcome-window-registration;
        transition: 0.5s;
    }
    input:not(:hover){
        transition: 0.5s;
    }
}

@media (max-width: 1599px) {
    .conteiner, .content {
        margin: 0 auto;
        width: $width-site-ad-tablet;
    }
    .welcome-window{
        margin-bottom: 20px;
        .welcome-window__img{
            width: 384px;
        }
        .welcome-window__heading{
            margin-left: 52px;
            font-size: 44px;
        }
        .welcome-window__small-heading,
        .welcome-window__pink-heading{
            font-size: 24px;
        }
    }
    
    .offers{
            margin-bottom: 155px;
            .offers__item-img{
                width: 232px;
            }

            .offers__item-img-bottom{
                width: 735px;
                height: 116px;
            }

            .offers__text-1 {
                top: 59px;
                left: 39px;
            }

            .offers__text-2 {
                top: 57px;
                left: 61px;
            }

            .offers__text-3 {
                top: 58px;
                left: 59px;
            }

            .offers__text-4 {
                top: 63px;
                left: 288px;
            }
    }
    
    .product{
            .product__heading{
                margin-bottom: 3px;
            }
            .product__list{
                margin-top: 72px;
            }
    }

    .possibilities{
            .possibilities__list{
                flex-direction: column;
            }

            .possibilities__item{
                margin-bottom: 48px;
            }

            .possibilities__adritio{
                width: $width-site-ad-tablet;
                display: flex;
                justify-content: center;
                padding-top: 48px;
                padding-bottom: 64px;
            }

    }

    .footer{
            .footer__adtritio{
                flex-direction: column;
                background-size: 3068px 753px;
                background-position-x: 22%;
                background-position-y: 22%;
            }

            .footer__box-avatar{
                margin-top: 35px;
            }

            .footer__box-paragraph{
                margin-bottom: 100px;
            }

            .feedback__form{
                justify-content: center;
            }

            .feedback__heading{
                margin-top: 0;
            }

            .feedback__paragraph{
                margin-bottom: 29px;
            }

            .feedback__form{
                margin-bottom: 140px;
            }

            .basement{
                padding: 30px 32px;
            }
    }

    .welcome-window-registration{
        margin-bottom: 40px;
        .welcome-window-registration__adtritio{
            width: $width-site-ad-tablet;
        }
    }
    
    .registration-block{
        .registration-block__adtritio{
            width: $width-site-ad-tablet;
        }

        .registration-block__heading,
        .registration-block__outcome-item,
        .registration-block__paragraph-outcome{
            font-size: 16px;
        }
        .registration-block__outcome{
            margin-left: 22px;
            margin-top: 12px;
        }
        .registration-block__heading{
            margin-bottom: 32px;
        }
        .registration-block__outcome-item{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {
    .conteiner, .content {
        margin: 0 auto;
        width: $width-site-ad-phone;
    }

    .header{
        .registration-ico,
        .basket-ico{
            display: none;
        }
    }

    .welcome-window{
        margin-bottom: 64px;
        .welcome-window__heading{
            margin-left: 68px;
        }
        .welcome-window__adritrio{
            justify-content: center;
            height: 363px;
        }
    }

    .welcome-window{
        .welcome-window__img{
            display: none;
        }
    }

    .offers{
        .offers__list{
            flex-direction: column;
            align-items: center;
        }
        .offers__item-img{
            width: 343px;
        }

        .offers__item-img-bottom{
            width: 343px;
            height: 111px;

        }

        .offers__text-1 {
            top: 98px;
            left: 94px;
        }

        .offers__text-2 {
            top: 101px;
            left: 120px;
        }

        .offers__text-3 {
            top: 105px;
            left: 120px;
        }

        .offers__text-4 {
            top: 30px;
            left: 120px;
        }

        .offers__item-show{
            display: block;
        }

        .offers__item-img-bottom,
        .offers__text-4{
            display: none;
        }
        .offers__list-item{
            margin-bottom: 32px;
        }
    }
    
    .product{
        margin-top: 32px;
        .product__list{
            margin-top: 64px;
        }
        .product__paragraph{
            width: 336px;
            margin: 0 auto;
        }
        .product__list{
            flex-direction: column;
            align-items: center;
        }
        .product__item{
            max-width: 359px;
            margin-bottom: 16px;
        }
        .product__button-adtritio{
            margin-top: 28px;
        }
    }

    .possibilities{
        .possibilities__adritio{
            width: $width-site-ad-phone;
        }
    }
    
    .footer{
        .feedback__form{
            margin-bottom: 109px;
        }

        .feedback__paragraph{
            margin-bottom: 22px;
        }

        .basement{
            flex-direction: column;
            align-items: center;
            padding-top: 43px;
            padding-bottom: 9px;
        }

        .basement__icon-socnet-list{
            margin-bottom: 30px;
        }
    }

    .welcome-window-registration{
        padding: 0;
        .welcome-window-registration__adtritio{
            width: $width-site-ad-phone;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 148px;
        }
    }

    .registration-block{
        margin-bottom: 100px;
        .registration-block__adtritio{
            width: $width-site-ad-phone;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .registration-block__paragraph{
            margin: 0;
        }

        .registration-block__button{
            margin-bottom: 40px;
        }

        .registration-block__outcome{
            margin: 0;
        }
    }
}